body {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
  background-color: antiquewhite;
}

button{
  cursor: pointer;
}

.Navbar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.Navbar img {
  margin: 2vh;
}

.link {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.link li {
  margin-left: 1.5vw;
  font-size: 1.2rem;
  color: rgb(68, 67, 67);
}



.icon i {
  margin-left: 1vh;
  color: rgb(68, 67, 67);
}


/* ---------------------------------------------   Home ----------------------------------------------------- */

.hometitle{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.hometitle p{
  font-size: 1.5rem;
}

.hometitle h4{
  color: blue;
}

/* ----------------------------------------   Registration  ---------------------------------------- */

.signpage , .loginpage , .homepage{
  display: flex;
  flex-direction: column;
}

.signbox, .loginbox , .contactbase , .aboutbox{
  /* border: 2px solid black; */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(223, 220, 220);

}

.signimg ,.loginimg{
  width: 50%;
}

.signimg img , .loginimg img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60%;
  width: 90%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(189, 189, 189);
  border: none;
}

.signbox{
  width: 45%;
  height: 65%;
}



.loginbox{
  width: 40%;
  height: 50%;
}

.loginimg{
  width: 50%;
}

.signform ,.loginform{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.signform h1 , .loginform h1{
  margin: 2vh;
}

.signinput{
  margin: 2vh;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 5px 5px 5px rgb(223, 220, 220);
  width: 80%;
  /* font-size: 1.2rem; */
}

.signbtn{
  margin: 1rem;
  padding: 1%;
  font-size: 1.2rem;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 0.2rem;
}

.contacttop{
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.contactbox{
  background: white;
  border-radius: 0.2rem;
  width: 20vw;
  height: 10vh;
  display: flex;
}

.contactbox p{
  margin: 0.5rem 1rem;
}

.contacticon{
  width: 15%;
}

.contacticon i{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.2rem;
}

.contactbase{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 40vw;
}

.msg{
  margin: 1rem 0rem ;
}

.contactinput{
  display: flex;
  justify-content: space-around;
}



.contactbtn{
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 0.2rem;
  width: 10vw;
  font-size: 1rem;
  padding: 1%;
  margin-bottom: 1rem;
}


/* --------------------------------   errorpage ------------------------------------------------ */

.errorhead{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20rem;
  color: white;
}

.errorcontent{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 1.2rem;
}

.errorbtn{
  margin: 1rem;
  padding: 1%;
  font-size: 1rem;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 1rem;
}

/* --------------------------- about ------------------------------------- */
.aboutbox{
  padding-top: 2rem;
  height: 65%;
}

.abooutpage{
  display: flex;
  flex-direction: column;
}

.aboutimg{
  width: 30%;
}

.aboutimg img{
  width: 80%;
  height: 40%;
}

.underline{
  list-style: none;
  padding-left: 1rem;
}

.underline li{
  text-align: left;
  margin-top: 0.3rem;
}


.nameintro{
  margin: 0%;
  padding: 0%;
  border: 1px solid red;
}

.aboutcontent{
  width: 70%;
}

.aboutright{
  display: flex;
  justify-content: space-between;
  height: 40%;
}

.aboutedit{
  margin-top: 3.5rem;
  font-size: 1.2rem;
}

.aboutme{
  height: 55%;
}



.abouthead{
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid grey;
  word-spacing: 1rem;
  padding-left: 1rem;
}

.spam{
  border-bottom: 4px solid rgb(36, 193, 246);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.profile{
  display: flex;
  justify-content: space-between;
}

.profiletitle , .profiledetail{
  list-style: none;
  padding-left: 1rem;

}

.profiletitle li , .profiledetail li{
  text-align: left;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.not{
  display: none;
}


@media only screen and (max-width: 800px) {
  .Navbar {
    justify-content: space-between;
    flex-direction: column;
    z-index: 78;
  }

  .Arrange {
    display: flex;
    margin: 0 5vw;
  }

  .link,
  .icon {
    display: none;
  }

  .linktab {
    display: flex;
    flex-direction: column;
  }

  .linktab li {
    margin-bottom: 2vh;
    font-size: 1.2rem;
  }

  .menu {
    margin-top: 3vh;
  }

  .bar1 {
    transform: rotate(90deg);
  }

  .menubar {
    width: 2.5rem;
    height: 0.3rem;
    background-color: skyblue;
    border-radius: 0.5rem;
    margin-top: 1.5vh;
  }
}

@media only screen and (max-width: 500px) {
  /* * {
    font-size: 75%;
  } */

  

  img {
    width: 50%;
  }

  .menubar {
    width: 2rem;
    margin-top: 1vh;
  }

  .signbox{
    /* position: relative; */
    top: 60%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    z-index: 1;
  }

  .signform{
    width: 100%;
  }

  .signform h1,.loginform h1{
    font-size: 2.5rem;
    text-align: center;
  }

  .signinput{
    margin-bottom: 2rem;
    font-size: 1rem;
  }


  .signimg{
    width: 100%;
  }

  .signimg img{
    height: 40vh;
    width: 80%;
  }
  
  .signbtn{
    display: flex;
    margin: 1rem auto;
    font-size: 1.1rem;
  }



  /* ----- */

  .loginbox{
    display: flex;
    flex-direction: column;
    top: 50%;
    width: 100%;
    height: 70%;
    margin-bottom: 0%;
  }

  .loginimg{
    width: 100%;
    height: 45vh;
  }

  .loginform{
    width: 100%;
  }


  /* ----------------------- contact  ------------------ */

  .contacttop{
    display: flex;
    flex-direction: column;
    
  }

  .contactbox{
    width: 70%;
    display: flex;
    margin: 1rem auto;
  }

  .contactbase{
    top: 75vh;
    width: 70%;
    margin-bottom: 10vh;
  }

  .contactinput{
    flex-direction: column;
  }

  .contactinput input{
    margin-top: 1rem;
    width: 95%;
  }

  .contactbtn{
    display: flex;
    margin: 2rem auto;
    width: 20vw;
  }
 
  .errorhead{
    font-size: 16rem;
  }

  .errorcontent{
    top: 35%;
    font-size: 1rem;
  }

  .aboutbox{
    width: 80%;
    height: 90%;
    top: 60%;
    flex-direction: column;
  }

  .aboutimg{
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    height: 55vh;
  }

  .aboutimg img{
    z-index: 1;
  }
  .underline li{
    font-size: 1.1rem;
    text-align: center;
  }

  .aboutcontent{
    width: 90%;
  }
}
